/* 颜色 */
:root {
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-meta-theme-color: #f7f9fe;
  --anzhiyu-bar-background: var(--anzhiyu-main);
  --anzhiyu-gray-op: #9999992b;
  --anzhiyu-theme-top: var(--anzhiyu-theme);
  --anzhiyu-main-op-deep: var(--anzhiyu-theme-op-deep)!important;
  --anzhiyu-white: #fff;
  --anzhiyu-white-op: rgba(255, 255, 255, 0.2);
  --anzhiyu-black: #000;
  --anzhiyu-black-op: rgba(0, 0, 0, 0.2);
  --anzhiyu-none: rgba(0, 0, 0, 0);
  --anzhiyu-gray: #999999;
  --anzhiyu-yellow: #ffc93e;
  --anzhiyu-border-radius: 8px;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-main-op: var(--anzhiyu-theme-op);
  --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
  --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
  --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
  --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
  --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
  --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--anzhiyu-main);
  --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
  --style-border-avatar: 4px solid var(--anzhiyu-background);
  --style-border-always: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-white-acrylic1: #fefeff !important;
  --anzhiyu-white-acrylic2: #fcfdff !important;
  --anzhiyu-black-acrylic2: #08080a !important;
  --anzhiyu-black-acrylic1: #0b0b0e !important;
  --anzhiyu-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
  --anzhiyu-meta-theme-post-color: #f7f9fe;
  --anzhiyu-meta-theme-color: #f7f9fe;
  --anzhiyu-theme: #3b70fc;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-theme-op-deep: #4259efdd;
  --anzhiyu-theme-none: #4259ef01;
  --anzhiyu-blue: #3b70fc;
  --anzhiyu-red: #d8213c;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #363636;
  --anzhiyu-background: #f7f9fe;
  --anzhiyu-reverse: #000;
  --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
  --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
  --anzhiyu-hovertext: var(--anzhiyu-theme);
  --anzhiyu-ahoverbg: #f7f7fa;
  --anzhiyu-lighttext: var(--anzhiyu-main);
  --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
  --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
  --anzhiyu-card-btn-bg: #edf0f7;
  --anzhiyu-post-blockquote-bg: #fafcff;
  --anzhiyu-post-tabs-bg: #f2f5f8;
  --anzhiyu-secondbg: #edf0f7;
  --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --anzhiyu-card-bg: #fff;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #c0c6d8;
}

[data-theme="dark"] {
  --anzhiyu-meta-theme-post-color: #1d1e22;
  --anzhiyu-meta-theme-color: #000;
  --global-bg: #191919;
  --anzhiyu-theme: #0084ff;
  --anzhiyu-theme-op: #0084ff23;
  --anzhiyu-theme-op-deep:#0084ffdd;
  --anzhiyu-theme-none:#0084FF00;
  --anzhiyu-blue: #0084ff;
  --anzhiyu-red: #ff3842;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #f7f7fa;
  --anzhiyu-background: #18171d;
  --anzhiyu-reverse: #fff;
  --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
  --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
  --anzhiyu-hovertext: #0a84ff;
  --anzhiyu-ahoverbg: #fff;
  --anzhiyu-lighttext: #f2b94b;
  --anzhiyu-secondtext: #a1a2b8;
  --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
  --anzhiyu-card-btn-bg: #30343f;
  --anzhiyu-post-blockquote-bg: #000;
  --anzhiyu-post-tabs-bg: #121212;
  --anzhiyu-secondbg: #30343f;
  --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --anzhiyu-card-bg: #1d1b26;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #42444a;
}
/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */


.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-zhongbiao::before {
  color: #f7c768;
}


/* 页脚透明 */
#footer {
  background: transparent !important;
}



/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
/*#page-header:not(.not-top-img):before {
  background-color: transparent !important;
}*/

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: transparent;
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: #0000;
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.9);
}

/* 分页页面 */
div#page {
  background: #0000;
}

/* 归档页面 */
div#archive {
  background: #0000;
}

/* 标签页面 */
div#tag {
  background: #0000;
}

/* 分类页面 */
div#category {
  background: #0000;
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #recent-posts > .recent-post-item {
  background: #121212 ;
}

[data-theme="dark"] .card-widget {
  background: #121212 !important;
}

[data-theme="dark"] div#post {
  background: #121212 !important;
}

[data-theme="dark"] div#tag {
  background: #121212 !important;
}

[data-theme="dark"] div#archive {
  background: #121212 !important;
}

[data-theme="dark"] div#page {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: transparent !important;
}


/*右侧按钮*/
#rightside > div > button {
  border-radius: 5px;
  background: var(--anzhiyu-blue);
}
/*直达评论按钮*/
#rightside > div > button:hover, #rightside > div > a{
  background:var(--anzhiyu-blue);
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b70fc;
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #3b70fc;
}


/* 评论框  */
.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}

/* 设置评论框 */

.vcard {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}


/* md网站下划线 */
#article-container a:hover {
  text-decoration: none !important;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 404页面 */
#error-wrap {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  transform: translate(0, -50%);
}

#error-wrap .error-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 18rem;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  transition: all 0.3s;
}

#error-wrap .error-content .error-img {
  box-flex: 1;
  flex: 1;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #3b70fc;
  background-position: center;
  background-size: cover;
}

#error-wrap .error-content .error-info {
  box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}
#error-wrap .error-content .error-info .error_title {
  margin-top: -4rem;
  font-size: 9em;
}
#error-wrap .error-content .error-info .error_subtitle {
  margin-top: -3.5rem;
  word-break: break-word;
  font-size: 1.6em;
}
#error-wrap .error-content .error-info a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  background: var(--btn-bg);
  color: var(--btn-color);
}

#body-wrap.error .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
  padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  background: var(--anzhiyu-card-bg);
  display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
  display: none;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}

#home_top {
  margin: 1rem auto 0;
  padding: 0px 15px;
  max-width: 1500px;
  width: 100%;
}

/* 全局宽度 */
.layout {
  max-width: 1500px;
}

/* 侧边卡片栏宽度 */
.aside-content {
  max-width: 318px;
  min-width: 300px;
}

/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
  .aside-content {
    max-width: none !important;
    padding: 0 5px 0 5px;
  }
}

/* tags样式 */
#aside-content .card-tag-cloud a {
  color: var(--anzhiyu-fontcolor) !important;
  font-size: 1.05rem !important;
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
}
#aside-content .card-tag-cloud a:hover {
  background: var(--anzhiyu-theme);
  color: var(--anzhiyu-white) !important;
  box-shadow: var(--anzhiyu-shadow-theme);
}
@media screen and (min-width: 1300px) {
  #aside-content .card-tag-cloud a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-tag-cloud a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-tag-cloud a sup {
  opacity: 0.4;
  margin-left: 2px;
}

/*字体*/
body {
  /* Screen version */
  font-family: "LXGW WenKai Screen", sans-serif;
  font-display: swap;
  font-weight: lighter;
}
div#menus{
   font-family: PingFangSC!important;
   font-weight:700;
}
div.title{
  font-family: PingFangSC!important;
  font-weight:700;
}
}
h1#site-title {
  font-family: PingFangSC!important;
  font-size: 3em !important;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: LXGW WenKai Screen;
}


/* 归档样式 */
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
}
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.1rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-date {
  font-size: 14px;
  opacity: 0.6;
}
li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
  color: var(--anzhiyu-white);
  background-color: var(--anzhiyu-theme);
  box-shadow: var(--anzhiyu-shadow-theme);
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 1300px) {
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: var(--style-border);
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
  width: auto;
  flex: inherit;
  font-weight:700;
}
#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer-wrap a {
    color: #4c4948;
}

#footer-wrap {
  color: #4c4948;
}

a.article-title {
    color: #4c4948;
}

/* 波浪css */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 5rem;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #f7f9febd;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #f7f9fe82;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #f7f9fe36;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #f7f9fe;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #18171dc8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #18171d80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #18171d3e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #18171d;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}

/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
/*主页的菜单栏*/
#category-bar{
  width:100%;
}
/*导航栏颜色*/
#page-header.not-top-img #nav {
    background: linear-gradient(90deg, #ffd7e4 0%, #c8f1ff 100%);
}
[data-theme="dark"] #page-header.not-top-img #nav {
    background: #1d1b26;
}


/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(90deg, rgb(255, 215, 228) 0%, rgb(200, 241, 255) 100%);
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 12px;
}

[data-theme=light] div#swiper_container_blog,[data-theme=light] div#swiper_container{
    background: linear-gradient(90deg, rgb(255, 215, 228) 0%, rgb(200, 241, 255) 100%);
}

[data-theme=light] div#sidebar-menus {
    background: linear-gradient(90deg, rgb(255, 215, 228) 0%, rgb(200, 241, 255) 100%)!important;
}



#topGroup .top-group-list-item {
    background: transparent;
    border-radius:12px;
}

[data-theme="dark"] #topGroup .top-group-list-item {
    background: black;
}


#category-bar{
  background:linear-gradient(90deg, var(--global-bg) 0%, rgb(200, 241, 255) 100%)!important;
}
[data-theme="dark"] #category-bar{
    background: #1d1b26 !important;
}

/* 消息弹窗heo化 */
.snackbar-container {
    background: var(--heo-main) !important;
    color: var(--heo-white) !important;
    border-radius: 0 !important;
    display: flex;
    justify-content: center !important;
    max-width: none !important;
    min-width: 100% !important;
    margin: 0px !important;
    left: 0px !important;
    height: 60px !important;
    transform: none !important;
    margin: 0 !important;
  }
 [data-theme="dark"] .snackbar-container{
   background:#D6A3DC !important;
 } 
.snackbar-container p {
    font-weight: 700 !important;
    text-align: center !important;
    font-size: 1.1rem !important
  }
  
  
.snackbar-container::after {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--heo-white);
    opacity: 0.1;
    content: "";
    animation: snackbar-progress 2s linear forwards;
    pointer-events: none;
  }
  
  @keyframes snackbar-progress {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }


/* 文章目录当前界面高亮 */
#aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: var(--heo-hovertext);
  background-color: var(--heo-card-bg);
  color: var(--heo-lighttext);
  font-weight: bold;
  font-size: 20px;
}

[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: var(--heo-white);
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 8px;
}

#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 8px;
  border-left: 0px solid transparent;
  border-radius: 12px;
  color: var(--heo-secondtext);
  cursor: default;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: 0.3s;
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  color: var(--heo-lighttext);
}

.iconfont {
font-family: "iconfont" !important;
font-size: 3em;
/* 可以定义图标大小 */
font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
svg.icon {
  width: 1.28em;
  height: 1.28em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* 主页文章栏变大 */
.layout{
  max-width: 1500px !important;
}
/* 侧边栏适配主页文章栏变大 */
.aside-content{
  max-width: 23%;
  min-width: 300px;
}

#page h1.page-title{
  text-align: center;
}

span.talk_tag {
    display: none;
}
/*标签调整中间位置*/
h1.page-title + .tag-cloud-list {
    text-align: center;
}








/* 归档、标签、分类页 */


.article-sort-title{
    margin-top:30px;
    margin-bottom:20px;
}

.article-sort-item::before, .article-sort-title::before, .article-sort-title::after {
    content: none;
}

.article-sort .year{
    width:100%!important;
    border-bottom:dashed 5px #1688C9;
    font-size:26px;
    margin-top:-20px;
}

.article-sort{
    border:none;
    display:flex;
    flex-wrap:wrap;
    margin:20px 20px;
    padding:0;
}

.article-sort-item:not(.year){
    padding:8px 10px;
    width:calc(50% - 0.8rem);
    margin:0.4rem;
    border:2px solid #1688C9;
    border-radius:15px;
    background:rgba(255,255,255,0.88);
    transition:0.5s;
    height:120px;
}
[data-theme="dark"] .article-sort-item:not(.year){
  background:black;
}
.article-sort-item-a{
    position:absolute;
    width:100%;
    height:100%;
}

.article-sort-item-img{
    transition:0.5s;
    height:90px;
    width:140px;
}

.article-sort-item > a >img{
    border-radius:15px;
}

.article-sort-item-title {
    font-size: 22px;
    padding-left: 10px;
    margin: 10px 0;
    line-height:25px;
    text-overflow:ellipsis;
}

.article-sort-item-title:hover{
    transform:none;
}

.article-sort-meta{
    height:max-content;
    position:relative;
}

.article-sort-meta > .article-meta-wrap{
    float:left;
}

.article-sort-meta > .article-sort-item-time{
    float:right;
}

.article-sort-item-categories,.article-sort-item-tags{
    margin:0 3px;
    padding:5px 8px;
    border-radius:25px;
    border:1px solid  #BBBBBB;;
    font-size:12px;
    transition:0.5s;
}

.article-sort-item-info > div:not(.article-sort-meta){
    display:flex;
}

.article-sort-description,.article-sort-item > i{
    width:0;
    opacity:0;
    overflow:hidden;
    transition:0.5s;
}

.article-sort-description {
    width: 0;
    height: 59px;
    vertical-align: middle;
    margin: 5px 10px 0 15px;
    text-overflow:ellipsis;
}

.article-sort-item:hover:not(.year){
    background-color:#1688C9;
    box-shadow: 0 0 10px #1688C9;
}

.article-sort-item:hover:not(.year){
    background-color:var #1688C9;
    box-shadow: 0 0 10px #1688C9;
}

.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) > i{
    width:auto;
    opacity:1;
}

.article-sort-item:hover:not(.year) .article-sort-description{
    width:auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img{
    transition:0.5s;
    width:0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title{
    color: #FDFDFD!important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) .article-sort-item-time{
    color:#F2F2F2!important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories{
    border:1.5px solid #11D991;
}

.article-sort-item:hover:not(.year) .article-sort-item-tags{
    border:1.5px solid #E764FF;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover{
    background:#B2FFCA;
    box-shadow:0 0 5px #11D991;
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover{
    background:#E764FF;
    box-shadow:0 0 5px #E764FF;
}

@media screen and (max-width:768px) {
    .article-sort-item:not(.year) {
        width: 100%;
    }

    .article-sort-meta > .article-meta-wrap {
        display: none;
    }

    .article-sort-item-title {
        font-size: 16px;
    }

    .article-sort-item-img{
        width:90px;
    }
}
#category-bar {
    padding: 0.4rem 1rem 0.4rem 0.5rem;
    background: var(--heo-card-bg);
    border-radius: 12px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0rem;
    margin-top:1rem;
    border: var(--style-border);
    font-family: PingFangSC!important;
}
.category-bar-item.select a{
  border-radius:10px;
}
#article-container code {
    color: white;
    padding: .2rem .4rem;
    border-radius: 4px;
    margin: 0 4px;
    background: #f47466;
    line-height: 2;
    box-shadow: 0 8px 16px -4px #2c2d300c;
}


[data-theme="dark"] hr:before{
  color:#f2b94b;
}


[data-theme="dark"] #random-hover:hover{
  background-color:#f2b94b ;
}

/*洪哥首页*/
/* 文章头图 */
#page-header.post-bg:before {
  transition: 0s;
  opacity: 0.93;
  height: 20rem;
  background-color: var(--heo-main);
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  #page-header.post-bg {
    height: 30rem !important;
    margin-bottom: -12px;
  }

  #page-header.post-bg:before {
    height: 15rem;
  }

  .post-bg #post-cover {
    min-height: 15rem !important;
    height: 70% !important;
    opacity: 1 !important;
  }
}

@media screen and (min-width: 1300px) {
  #page-header.post-bg {
    height: 25rem;
  }

  #page-header {
    height: 25rem;
  }

  #page-header.post-bg:before {
    height: 25rem;
  }

  #post-info .post-title {
    width: 1100px;
    font-size: 2.6rem !important;
  }
}

#page-header.post-bg {
  /* backdrop-filter: blur(500px); */
  background-color: var(--heo-main);
  transition: 0s;
  overflow: hidden;
}

.post-bg #post-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 50vw;
  min-height: 20rem;
  opacity: 0.8;
}

.coverdiv {
  width: 70%;
  height: 100%;
  position: relative;
  margin: 0 -20% 0 auto;
  overflow: hidden;
  margin-bottom: 0;
  transform: rotate(10deg) translateY(-10%) scale(2);
  filter: blur(10px);
}

.coverdiv.loaded {
  display: block;
}

.coverdiv:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 110px -130px 300px 60px var(--heo-main) inset;
}

@media screen and (max-width: 768px) {
  .coverdiv {
    margin: 0 0 0 auto;
    transform: rotate(0deg) translateY(0) scale(1);
    filter: blur(0px);
    width: 100%;
    position: fixed;
    height: 30rem;
    z-index: 1;
  }

  .coverdiv:after {
    box-shadow: 0px 0px 205px 59px var(--heo-main) inset;
  }

}

#page-header {
  background-image: none !important;
  display: flex;
  justify-content: center;
}

/* 顶部遮罩 */
#post-cover-rgb {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background: var(--heo-lighttext);
}

/* 文章背景阴影 */
.layout>div:first-child:not(.recent-posts) {
  box-shadow: var(--heo-shadow-border);
  padding: 1rem 2rem;
  border-radius: 12px;
  background: var(--heo-card-bg);
  border: var(--style-border);
  width: calc(100% - 300px);
}

#page {
  box-shadow: none;
}

.post-comment {
  background: var(--heo-card-bg);
}

.layout>div:first-child:not(.recent-posts):hover {
  box-shadow: var(--heo-shadow-border);
}

@media screen and (max-width: 768px) {
  .layout>div:first-child:not(.recent-posts) {
    border-radius: 0;
    padding: 0rem 1rem !important;
    box-shadow: none !important;
    background: var(--heo-background);
  }

  .layout {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    padding: 0;
  }

  .layout>div:first-child:not(.recent-posts) {
    z-index: 10;
  }

  .post .layout>div:first-child:not(.recent-posts) {
    border-radius: 12px 12px 0 0;
  }

  .post .layout#content-inner {
    background: var(--heo-main);
  }

  .page .layout#content-inner {
    background: var(--heo-background);
  }

  #aside-content {
    z-index: 2;
    background: var(--heo-background);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.layout#content-inner {
  max-width: 1400px;
}

/* 隐藏主页头图 */
.full_page #post-cover {
  display: none;
}


/* 文章头部 */
#page-header #post-info {
  top: 0;
  position: absolute;
  padding: 0 3rem;
  margin: 0 auto;
  z-index: 10;
  color: var(--heo-white);
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100% + 0px);
  justify-content: center;
}

@media screen and (max-width: 768px) {
  #page-header #post-info {
    padding: 0 6%;
    justify-content: normal;
    padding-top: 18rem;
  }
}

@media screen and (min-width: 1300px) {
  #page-header #post-info {
    height: calc(100% + 0px);
    top: 0;
    display: flex;
    justify-content: center;
  }
}

#post-info #post-meta>.meta-secondline>span:first-child {
  margin-right: 0.8rem;
}

.meta-secondline span {
  display: flex;
  align-items: center;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .meta-secondline span {
    line-height: 1.5;
  }
}

/* 文章时间分类信息 */
#post-firstinfo {
  text-align: left;
  display: flex;
  white-space: nowrap;
}

.meta-firstline .tag_share {
  margin-left: 1rem;
}

#post-firstinfo .meta-firstline {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #post-firstinfo .meta-firstline {
    margin-bottom: 0.4rem;
  }
}

/* 文章作者信息和时间 */
.meta-avatar img {
  width: 30px;
  border-radius: 30px;
  height: 30px;
}

a.post-meta-original {
  background: var(--heo-white-op) !important;
  color: var(--heo-white) !important;
  padding: 0 0.5rem;
  font-size: 0.7rem;
  margin: auto;
  border-radius: 8px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  width: 100%;
  height: 100%;
  display: flex;
}

a.post-meta-original:hover {
  color: var(--heo-main) !important;
  background: var(--heo-white) !important;
  border-radius: 8px !important;
}

.meta-avatar img:hover {
  transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
  .meta-share-time {
    display: none !important;
  }

  #post-info #post-meta {
    z-index: 1;
  }

  #post-info:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0px -214px 287px 45px var(--heo-main) inset;
    z-index: 0;
  }

  .meta-secondline {
    justify-content: center !important;
  }

  .post-meta__tag-list {
    display: none;
  }

  .typed-cursor {
    display: none;
  }

  .meta-avatar {
    display: none !important;
  }

  #post-firstinfo {
    white-space: nowrap;
    margin: 0 auto;
    z-index: 1;
  }

  .meta-firstline .tag_share {
    display: none;
  }

}

.post-meta__tag-list::-webkit-scrollbar {
  display: none;
}

.meta-share-time a:hover {
  background: none !important;
}

.meta-share-time .meta-avatar-name {
  opacity: 1;
  color: var(--heo-white) !important;
  font-weight: bold;
}

.meta-share-time {
  display: flex;
}

.meta-share-time .meta-info {
  margin: 0 0.5rem;
}

.meta-secondline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.meta-avatar {
  display: flex;
}

.meta-avatar .meta-avatar-name {
  margin: 0 0.5rem;
}


/* 文章信息透明度 */
.post-meta-wordcount {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .post-meta-wordcount {
    margin-left: 0;
  }
}

.post-meta-pv-cv {
  opacity: 0.6;
}

.post-meta-pv {
  opacity: 0.6;
  margin-right: 0.8rem;
}

.post-meta-commentcount {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}

.post-meta-commentcount:hover {
  opacity: 1;
}

#twikoo-count {
  font-weight: 800;
  color: var(--heo-white);
}

.el-textarea .el-input__count {
  color: var(--heo-secondtext) !important;
}

.post-meta-commentcount i {
  margin-right: 0.5rem;
}

/* 文章内图片保持一行 */
.inline-image {
  display: flex;
  margin: 8px auto;
  width: fit-content;
  justify-content: center;
}

.inline-image a:hover {
  background: none !important;
  box-shadow: none !important;
}

.inline-image img {
  margin: 0;
  display: inline-flex;
  margin-bottom: 0 !important;
}

/* 文章标题 */
#post-info .post-title {
  color: var(--heo-white);
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.2;
  text-align: left;
  margin: 1rem 0 1rem 0 !important;
  -webkit-line-clamp: 2;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #post-info .post-title {
    font-size: 1.2rem;
    -webkit-line-clamp: 3;
    margin: 0.2rem auto !important;
    text-align: center;
    z-index: 1;
  }
}

  

/* 文章tab样式 */
#article-container ul>li:not(.tab):before {
  border: 0.21em solid var(--heo-lighttext);
  background: var(--heo-lighttext);
}

#article-container ol,
#article-container ul {
  padding: 0;
}

#article-container .tabs {
  margin: 1rem 0 !important;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--heo-shadow-border);
  padding: 8px;
  background: var(--heo-card-bg);
  border: var(--style-border);
}

#article-container .tabs .nav-tabs {
  background: var(--heo-card-bg);
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  #article-container .tabs .nav-tabs {
    padding: 0;
    margin-bottom: 8px;
  }
}

#article-container .tabs>.nav-tabs>.tab.active button {
  border: var(--style-border-hover-always);
  background: var(--heo-background);
  border-radius: 8px;
}

#article-container .tabs>.nav-tabs>.tab button {
  transition: all 0s;
  -webkit-transition: all 0s;
  background: var(--heo-secondbg);
  transition: 0.3s;
  border: var(--style-border-always);
  border-radius: 8px;
  font-size: 14px;
  padding: 8px 16px;
  display: block;
  line-height: 1;
  width: 100%;
  color: var(--heo-fontcolor);
}

#article-container .tabs>.nav-tabs>.tab:not(.active) button:hover {
  background: var(--heo-main);
  color: var(--heo-white);
  transition: 0.3s;
  border: var(--style-border-hover-always);
}

.tab-item-content {
  background: var(--heo-card-bg);
}

/* tab边框 */
#article-container .tabs {
  border: 3px solid var(--heo-secondbg) !important;
}


/* 切换tab标签 */
#article-container .tabs>.tab-contents .tab-item-content.active {
  animation: tabshow 0s;
  -webkit-animation: tabshow 0s;
  padding: 1.2rem 1.2rem;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  #article-container .tabs>.tab-contents .tab-item-content.active {
    padding: 0.5rem 0.5rem;
  }
}

.tab-contents {
  border-radius: 8px;
  overflow: hidden;
}
















